body {
  font-family: 'Montserrat', sans-serif;
/*  display:flex;
  align-items:center;
  justify-content:center;*/
}
h2 {
  text-align: center;
}
.container {

  background-color: rgb(250, 250, 250);
  border-radius: 2px;
  height: 180px;
  width: 360px;
  margin: auto;
  padding: 40px;
  box-shadow: rgba(0,0,0, 0.298039) 0px 2px 2px 0px;

}

.inputBox {
  display:block;
  border: 1px solid;
  border-color: rgb(224, 224, 224);
  height: 44px;
  width: 274px;
  margin: auto;
  border-radius: 1px;
  padding: 0 8px;
  font-size: 15px;
}

.signIn {
  display:block;
  color: #FFF;
  font-size: 15px;
  height: 44px;
  background-color: rgb(46, 204, 113);
  margin: auto;
  margin-top: 10px;
  border: 1px solid;
  border-radius: 5px;
  padding: 0px;
  width: 274px;

}

.signIn:hover{
  background-image: -webkit-linear-gradient(top,#4FD78A,#0BC45B);
}